li {
  list-style: none;
}

.prev-and-next-container h2 {
  font-weight: 300;
}

.prev-and-next-container {
  display: flex;
  justify-content: center;
}

.prev-and-next-container button {
  transform: scale(1.3);
  margin: 15px;
}

.lyrics-container {
  color: white;
  text-align: center;
  opacity: 0.4;
}

.lyrics {
  margin-top: 20px;
  line-height: 1.5;
}
